@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}
body {
    margin: 0;
    font-family: 'Lato', sans-serif;
}
/* Меню */
.top {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    min-height: 85px;
    background-color: #fff;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.logo__up {
    width: 79px;
    height: 23px;
}
.nav {
    max-width: 567px;
    width: 100%;
    height: 24px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-weight: 500;
    font-size: 20px;
    margin-left: 172px; 
}
.nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.nav ul li a {
    color: #292929;
    text-decoration: none;
}
.nav ul li a:hover {
    color: #01996D;
}
.top__btn .top__p {
    width: 59px;
    height: 24px;
    font-size: 20px;
}
.top__btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 277px;
    height: 51px;
    margin-left: 274px;
}
.top .top__button {
    font-size: 20px;
    width: 182px;
    height: 51px;
    align-items: center;
    border-radius: 4px;
    padding: 0px 8px 0 4px;
    background-color: #01996D;
    color: #fff;
    border: none;
    cursor: pointer;
}
/* Шапка */
.container {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
.header {
    min-height: 895px;
    background-image: url(../img/AlivioBG.png);
    background-position: center; /* центирование */
    background-repeat: no-repeat;
    background-size: cover;
}
.header h1 {
    font-size: 65px;
    font-weight: bold;
    line-height: 74px;
    font-family: 'Georgia', serif;
    color: #01996D;
    max-width: 440px;
    margin-top: 0;
    margin-bottom: 30px;
    padding-top: 175px;
}
.header p {
    font-size: 20px;
    max-width: 420px;
    line-height: 30px;
    height: 123px;
    color: #484848;

}
.header button {
    font-size: 20px;
    width: 227px;
    height: 65px;
    border-radius: 4px;
    padding: 20px 40px;
    background-color: #01996D;
    color: #fff;
    border: none;
    cursor: pointer;
}
/* Работы */
.works {
    max-width: 1413px;
    width: 100%;
    height: 1440px;
    margin: 0 auto;
    padding: 0 15px;
    margin-top: 168px;
}
.works__titul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0;
}
.titul__left {
    padding-left: 7px;
}
.left__h6 {
    width: 141px;
    height: 38px;
    font-weight: 600;
    font-size: 24px;
    line-height: 160%;
    color: #424242;
    margin: 0;
}
.left__h2 {
    width: 584px;
    height: 158px;
    font-family: 'Georgia';
    font-weight: 700;
    font-size: 50px;
    line-height: 157%;
    color: #01996D;
    margin: 0;
}
.works__rithe {
    width: 655px;
    height: 248px;
    padding-top: 61px;
}
.work {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #424242;
    margin: 0;
}
.works__down {
    display: flex;
    /* flex-wrap: wrap; */
}
.Pers__01 {
    width: 390px;
    height: 937px;
    margin-right: 104px;
    margin-left: 6px;
}
.work1 {
    width: 382px;
    height: 140px;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #424242;
    margin: 0;
    padding-top: 5px;
    margin-bottom: 76px;
}
.personal__img {
    position: absolute;
}
.person__img {
    position: relative;
    left: 205px;
    min-width: 185px;
    min-height: 144px;
    top: 225px;
}
.Write__02 {
    width: 392px;
    height: 854px;
    margin-right: 95px;
    margin-top: 285px;
}
.work2 {
    width: 382px;
    height: 140px;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #424242;
    margin: 0;
    padding-top: 8px;
    margin-bottom: -5px;
}
.Avilio__03 {
    width: 441px;
    height: 856px;
    margin-top: 53px;
}
.Avilio__03-1 {
    margin-left: 5px;
}
.work3 {
    width: 421px;
    height: 90px;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #424242;
    margin: 0;
    margin-bottom: 45px;
}
.Avilio__03-2 {
    margin-left: 5px;
}
/* История */
.story1 {
    height: 922px;
    background-color: #245852;
    display: flex;
    flex-wrap: wrap;
}
.story__left {
    padding: 310px 0 0 207px;
}
.story__h1 {
    width: 580px;
    height: 158px;
    font-weight: 700;
    font-size: 50px;
    line-height: 157%;
    font-family: 'Georgia', serif;
    color: #fff;
    margin: 0;

}
.story__p {
    width: 570px;
    height: 39px;
    font-weight: 500;
    font-style: normal;
    font-size: 25px;
    line-height: 157%;
    color: #fff;
    margin: 32px 0 0;
}
.story__btn {
    font-size: 20px;
    width: 240px;
    height: 65px;
    border-radius: 4px;
    padding: 20px 40px;
    background-color: #01996D;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-top: 58px;
}
.story__rigth {
}
.story__video {
    width: 896px;
    height: 516px;
    position: relative;
    background-repeat: 16px;
    background-image: url(../img/video-img.png);
    margin-top: 227px;
    margin-left: 31px;
}
.story__video-icon {
    position: absolute;
    margin-top: 443px;
    margin-left: -486px;
}
/* Продукт */
.product {
    height: 937px;
}
.product__item {
    display: flex;
}
.product__left {
    max-width: 639px;
    width: 100%;
    height: 573px;
    border-radius: 18px;
    background-color: #a0ebd5e3;
    margin-top: 117px;
    margin-left: 62px;
}
.product__left1 {
    position: absolute;
}
.product__img1 {
    padding-left: 95px;
}
.product__inner {
    width: 296px;
    height: 294px;
    align-items: center;
    position: relative;
    right: 62px;
    bottom: 220px;
    background-color: #fff;
    filter: drop-shadow(0px 3.62249px 18.1125px rgba(165, 165, 165, 0.25));
}
.product__h6 {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 14.49px;
    margin: 0;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 10px;
}
.line {
    width: 110.49px;
    height: 0px;
    margin: 0 auto;
    border: 0.745942px solid #000000;
}
.product__icon {
    padding-top: 12px;
    padding-left: 118px;
    padding-bottom: 6px;
}
.product__h7 {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 11.9351px;
    line-height: 157%;
    margin: 0;
    padding-left: 128px;
    
}
.product__h5 {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 700;
    font-size: 15.9292px;
    margin: 0;
    padding-top: 25px;
    text-align: center;
}
.product__h8 {
    font-weight: 400;
    font-size: 10.6195px;
    line-height: 26px;
    margin: 0;
    padding-top: 18px;
    padding-left: 60px;
}
.product__inner ul {
    width: 170px;
    margin: 0 auto;
}
.product__rigth {
    margin-left: 85px;
    margin-top: 123px;
}
.rigth__h6 {
    width: 136px;
    height: 39px;
    font-weight: 600;
    font-size: 25px;
        margin: 0;
}
.rigth__h2 {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 157%;
    color: #01996D;
    margin: 0;
    padding-top: 8px;
}
.rigth__p {
    width: 530px;
    height: 81px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 31px;
    margin: 0;
    margin-top: 20px;
    margin-bottom: 8px;
}
.product__btn {
    width: 228px;
    height: 65px;
    font-size: 20px;
    font-weight: 400;
    border-radius: 4px;
    padding: 20px 35px;
    background-color: #01996D;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-top: 33px;
}
/* Подвал */
.footer {
    background-color: #245852;
    padding: 102px 0;
    height: 654px;
}
.footer .logo {
    margin-bottom: 71px;
}
.footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.footer ul li a {
    color: #fff;
    font-size: 25px;
    text-decoration: none;
}
.footer ul li a:hover {
    opacity: 0.7;
}
.footer ul li {
    margin-bottom: 60px;
}
.footer ul li:last-child {
    margin-bottom: 0px;
}

@media screen and (max-width: 1400px) {
    .top {
        height: 130px;
    }
    .logo__up {
        margin-top: 40px;
        }
    .works {
        margin-top: 68px;
    }
}
@media screen and (max-width: 1270px) {
    .works__down {
        flex-wrap: wrap;
        justify-content: center;
    }
    .works {
        max-height: 2548px;
        height: 100%;
        margin-bottom: 30px;
    }
    .Write__02 {
        margin: 0;
    }
.Avilio__03 {
    margin: 0;
    }
}
@media screen and (max-width: 1110px) {
    .works {
        max-height: 3548px;
        height: 100%;
        margin-bottom: 30px;
    }
}
@media screen and (max-width: 900px) {
    .top {
        height: 160px;
    }
}
@media screen and (max-width: 1720px) {
    .story1 {
        max-height: 1500px;
        height: 100%;
        flex-direction: column;
        margin: 0 auto;
    }
    .story__left {
        margin: 0 auto;
        padding: 0;
        padding: 100px;
    }
    .story__rigth {
        margin: 0 auto;
    }
    .story__video {
        margin: 0 auto 50px
    }
    .story__video-icon {
        margin-top: 223px;
        margin-left: -486px;
    }
    .product {
        height: 1170px;
    }
    .product__item {
        flex-wrap: wrap;
    }
}
@media screen and (max-width: 1228px) {
    .product {
        height: 1250px;
    }
}
@media screen and (max-width: 1110px) {
    .story__left {
        margin: 0 auto;
    }
}
@media screen and (max-width: 699px) {
    .product {
        height: 1350px;
    }
}